.logo {
	background-color: black;
	padding: 14px;
}
a {
	color: #0060ff;
}
a:hover {
	color: #0060ff;
}
.margintop {
	margin-top: 14px;
}
.projectname {
	font-size: larger;
}
.productinfo {
	font-size: small;
}
.producticon {
	max-width: 64px;
	max-height: 64px;
}
.updated {
	color: gray;
}
.footer {
	font-size: x-small;
}
.footer a {
	color: #888;
	text-decoration: underline;
}
.isnew {
	font-weight: bold;
	color: #fa0000;
}
