<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>kainjow</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css">
	.logo {
		background-color: black;
		padding: 14px;
	}
	a {
		color: #0060ff;
	}
	a:hover {
		color: #0060ff;
	}
	.margintop {
		margin-top: 14px;
	}
	.projectname {
		font-size: larger;
	}
	.productinfo {
		font-size: small;
	}
	.producticon {
		max-width: 64px;
		max-height: 64px;
	}
	.updated {
		color: gray;
	}
	.footer {
		font-size: x-small;
	}
	.footer a {
		color: #888;
		text-decoration: underline;
	}
	.isnew {
		font-weight: bold;
		color: #fa0000;
	}
	</style>
	{% block head_extra %}{% endblock %}
</head>
<body>

<div class="container">
		
	<div class="logo">
	<a href="/"><img class="img-responsive center-block" src="/images/kainjow.png" alt="kainjow"></a>
	</div>
	
	{% block content %}{% endblock %}
	
	<div>
	<p class="footer text-center margintop">
		<a href="/downloads/archives/">Download Archives</a> | <a href="/donate">Donate</a><br>
		Copyright {{ "now"|date('Y') }} Kevin Wojniak
	</p>
	</div>

</div>

</body>
</html>
