{% extends 'base.htm.twig' %}

{% block content %}
<div class="margintop">		
<p>If any of my software has been useful to you, a simple message via email or Twitter is appreciated! However if you would like to make a donation you can use PayPal:</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="VKP6H5VUCCRQU">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>		
</div>
{% endblock %}

