{% extends 'base.htm.twig' %}

{% block head_extra %}
<style type="text/css">
.errmsg {
	color: red;
}
</style>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src='/js/jquery-2.1.4.min.js'></script>
{% endblock %}

{% block content %}
<div class="margintop">
<div class="alert alert-warning text-center"><p>
	<a href="http://kainjow.tumblr.com/post/128933657269/bootchamp-and-el-capitan" class="alert-link">Import information about BootChamp and OS X El Capitan</a>
</p></div>

{% if not success %}
<p>Complete the reCAPTCHA and click Show to reveal my email address (this helps reduce spam).</p>
<noscript><p class="errmsg">JavaScript is required.</p></noscript>
<script>
$(function() { // document.onready alias
	$('form').on('submit', function(e) {
		e.preventDefault(); // prevent form from submitting
		$('#submit').prop('disabled', true).prop('value', 'Loading...');
		$('#output').empty();
		$.getJSON('/show-email.php?' + $(this).serialize(), function(data) {
			$('#submit').prop('disabled', false).prop('value', 'Show');
			if (data.email) {
				$('#output').text(data.email);
			} else {
				$('#output').text(data.error ? data.error : 'An unknown error occurred, please try again.');
			}
			grecaptcha.reset();
		});
	});
});
</script>
<form>
<div class="g-recaptcha form-group" data-sitekey="6LeDpgsTAAAAAIDB6i38JErvO3vtvpBtbHouIO-1"></div>
<div class="form-group">
<input class="btn btn-primary" id="submit" type="submit" value="Show">
</div>
</form>
<p id="output"></p>
{% endif %}
</div>
{% endblock %}

